/*--------------------------------------------------navigation bar */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    font-size: 35px;
}

body {
    font-family: "heebo",sans-serif;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: #5a5a5a;
    transition: .5s;
    color: #000000;
    text-decoration: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5a5a5a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,a.active {
        background: none;
        color: #fafafa;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/*--------------------------------------------------section */

section {
    background-color: #fff;
    position: absolute;
    width: 100%;
    color: #000000;
}

.section1 {
    display: flex;
    align-items: center;
    font-family: "heebo", sans-serif;
    margin: 50px auto;
    min-height: 100px;
}

div h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.small {
    font-family: "sriracha", sans-serif;
    font-size: 80px;
    font-weight: bold;
    padding-left: 170px;
    line-height: 80%; 
}

.biggest {
    font-family: "sriracha", sans-serif;
    font-size: 300px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 100px; 
    line-height: 80%;
}

.big {
    font-family: "sriracha", sans-serif;
    font-size: 80px;
    font-weight: bold;
    padding-left: 710px; 
    line-height: 80%;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 5vh;
    }
}

/*--------------------------------------------------footer */
