/*--------------------------------------------------navigation bar */

header {
    font-size: 35px;
}

body {
    font-family: "heebo",sans-serif;
}

nav {
    background: #000000;
    height: 90px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 60px 100px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav.active,a:hover {
    background: #5a5a5a;
    transition: .5s;
    color: #000000;
    text-decoration: none;
}

.check-button {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*--------------------------------------------------section index */

h1,
h2,
h3,
h4 {
    margin: 0;
}

section {
    margin: 0;
}

h1 {
    font-family: "Heebo",sans-serif;
    font-size: 40px;
    color: #000000;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.text-p-1 {
    font-family: "sriracha",sans-serif;
    font-size: 100px;
    color: #000000;
    position: relative;
    line-height: 80%;
    padding-left: 350px;
}
.text-p-2 {
    font-family: "sriracha",sans-serif;
    font-size: 300px;
    color: #000000;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    line-height: 80%;
}
.text-p-3 {
    font-family: "sriracha",sans-serif;
    font-size: 100px;
    color: #000000;
    position: relative;
    padding-left: 1100px;
    padding-bottom: 50px;
}

.service-bg-color {
    background-color: #5a5a5a;
    height: 70vh;
    width: 100%;
    padding: 50px;
}

h2 {
    font-family: "Heebo",sans-serif;
    font-size: 40px;
    color: white;
    padding-left: 100px;
    padding-bottom: 50px;
}

div.service-pic {
    border: 5px solid #ccc;
}

div.service-pic:hover {
    border: 10px solid black;
}

div.service-pic img {
    width: 100%;
    height: 40vh;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.section-title {
    font-family: "heebo",sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 15px;
}

/*--------------------------------------------------section index */

/*--------------------------------------------------section index2 */

.bg-logo-index2 {
    border: 2px solid black;
    padding: 25px;
    background: url(../image/logobig.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 800px 1100px;
    background-position: center;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    opacity: 0.8;
}

div.transbox h1{
    font-weight: bold;
    color: #000000;
}

.transbox h1 {
    font-family: "sriracha", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.price-list, th, td {
    border: 5px solid #000000;
    font-family: "sriracha", sans-serif;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    padding: 20px;
    margin-left: 400px; 
    margin-bottom: 100px;
    text-align: center;
}
/*--------------------------------------------------section index2 */
/*-------------------------------------------------- footer */

.bg-footer {
    background-color: #000000;
    color: white;
    height: 70vh;
    width: 100%;
    padding: 50px;
}

.footer-logo {
    padding-bottom: 10px;
    text-align: center;
}

.information {
    text-align: center;
    padding-bottom: 30px;
}

.information h3 {
    font-family: "heebo",sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.information p {
    font-family: "heebo",sans-serif;
    font-size: 20px;
    padding: 20px 180px;
}

.information ul li {
    font-family: "heebo",sans-serif;
    font-size: 20px;
    padding: 0 50px;
    list-style-type: none;
}

.social-media-list {
    color: white;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 5px;
    text-align: center;
}

.social-media-list h4 {
    font-size: 15px;
    padding-left: 40px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.social-media-list ul li  {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    letter-spacing: 5px;
    text-align: center;
    list-style-type: none;
    display: inline;
}

.social-media-list a i {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    letter-spacing: 5px;
    text-align: center;
    list-style-type: none;
    display: inline;
}

.contact-list-style ul li {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 20px;
}

.contact-h4 {
    font-size: 20px;
    padding-left: 40px;
}
/*-------------------------------------------------- media */

@media (max-width: 960px) {
/*-------------------------------------------------- nav bar */
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    h1 {
        font-size: 15px;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
/*-------------------------------------------------- nav bar */
/*-------------------------------------------------- section index */
    .text-p-1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 80%;
        padding-left: 60px;
    }

    .text-p-2 {
        font-size: 80px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 80%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-p-3 {
        font-size: 30px;
        font-weight: bold;
        line-height: 80%;
        padding-left: 220px;
        padding-bottom: 20px;
    }

    .service-bg-color {
        height: 51vh;
        width: 100%;
        padding: 10px;
    }

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    .section-title {
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }

    div.service-pic img {
        width: 100%;
        height: 15vh;
    }
/*-------------------------------------------------- section index */

/*--------------------------------------------------section index2 */
    .bg-logo-index2 {
    background-size: 300px 500px;
    background-position: center;
    }

    div.transbox {
        margin: 10px;
        opacity: 0.8;
    }

    .transbox h1 {
        font-family: "sriracha", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
    }

    .price-list, th, td {
        font-size: 15px;
        color: #000000;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px; 
        margin-bottom: 50px;
        text-align: center;
    }

/*--------------------------------------------------section index2 */

/*-------------------------------------------------- footer */
    .bg-footer {
        background-color: #000000;
        color: white;
        height: 155vh;
        width: 100%;
        padding: 20px;
    }

    .footer-logo {
        padding-bottom: 10px;
        text-align: center;
    }

    .information {
        text-align: center;
        padding-bottom: 30px;
    }

    .information h3 {
        font-family: "heebo",sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding-top: 25px;
    }

    .information p {
        font-family: "heebo",sans-serif;
        font-size: 15px;
        padding: 0px 50px;
    }

    .information ul li {
        font-family: "heebo",sans-serif;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-h4 {
        font-size: 15px;
        padding-right: 30px;
    }

    .social-media-list {
        color: white;
        font-size: 20px;
        padding: 10px;
        letter-spacing: 5px;
        text-align: center;
        display: inline;
    }

    .social-media-list h4 {
        color: white;
        font-size: 10px;
        padding: 10px;
        letter-spacing: 5px;
        text-align: center;
    }

    .social-media-list:not(:last-child) {
    margin: 0;
}
/*-------------------------------------------------- footer */ 
}

@media (max-width: 858px) {
    .check-button {
        display: block;
    }

    .logo {
        display: block;
    }

    header ul {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: #5a5a5a;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    header a:hover,a.active {
        background: none;
        color: #fafafa;
    }

    #check:checked ~ ul {
        left: 0;
    }
}